body {
    font-family: "Iosevka Charon Mono", monospace;
    /* font-weight: 500; */
    font-style: normal;
    color: #091a4c;;
    background-color: #D9B8E9;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

p, h1, h2, h3 {
    margin: 1vh 1vw !important;
}

a {
    color: #192C67;
    padding: 0.25vh 0.25vw;
    background-color:#c495db;
    border-radius:1vh;
    text-decoration: none;
}

a:hover {
    color:#192C67;
    background-color:#b271d2;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.desktop-content {
    display: block;
}

.mobile-content {
    display: none;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    box-sizing:border-box;
    top: 0;
    left: 0;
    z-index:1000;
    background-color: #192C67;
}

.navbar-title {
    color: #D9B8E9;
    margin:0;
    padding:0;
}

.navbar-menu {
    display:flex;
    gap:1vw;
    list-style-type:none;
    margin:0;
    padding:0;
}

.navbar-button { 
    display: inline-block;
    text-decoration: none;
    background-color: #D9B8E9;
    color:#192C67 !important;
    font-weight: bold;
    padding:1.5vw;
    border:2px solid #192C67;
    border-radius:1.5vw;
}

.navbar-button:hover {
    background-color:#192C67;
    color:#D9B8E9 !important;
    border:2px solid #D9B8E9;
}

.section-title {
    font-weight:bold;
}

.standout-text {
    font-weight:bold;
}

.subtitle {
    font-weight:bold;
}

.profile-photo {
    height:80vh;
    width:auto;
    margin: 1vh 1vw;
}

.index-grid-container {
    display: grid;
    grid-template-columns: 40% 59%;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2vw; 
    margin:4vh;
}

.projects-grid-item {
    background-color: #D9B8E9;
    color: #192C67;
    /* background-color: #192C67;
    color: #D9B8E9; */
    padding: 3vh 4vw;
    text-align: center;
    border-radius:1vw;
    text-decoration: none;
} 

.projects-grid-item:hover {
    background-color: #192C67;
    color:#D9B8E9;
    /* background-color: #D9B8E9;
    color:#192C67; */
    cursor:pointer;
    text-align: center;
}

.grid-seperator {
    height:0.25vh;
    background-color: #192C67;
    border: none;
}

.projects-grid-item:hover .grid-seperator {
    background-color:#D9B8E9;
}


/* styling for mobile screens! */
@media only screen and (max-width: 768px) {
    
    p, h1, h2, h3, hr {
        margin: 1vh 2vw !important;
    }

    .desktop-content {
        display: none !important;
    }

    .mobile-content {
        display: flex !important;
        justify-content: center !important;
        align-items:center !important;
    }

    .navbar {
        position:fixed;
        top:0;
        width:100%;
        display:flex;
        justify-content: center !important;
        margin: 0 !important;
        padding: 1vh 1vw !important;
    }

    .navbar-menu {
        display:flex;
        gap:2vw;
        list-style-type:none;
        margin:0;
        padding:0;
    }

    .page-content {
        margin-top:6vh;
    }

    .profile-photo {
        width:93vw;
        height:auto;
    }

    .index-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-grid-container {
        grid-template-columns: repeat(1, 1fr); 
        gap: 4vw; 
        margin:2vh;
    }

    .projects-grid-item {
        border-radius:4vw;
    }

}